$font__primary: 'Montserrat', sans-serif;
$color__primary: #484848;
$color__secondary: #737373;
$color__secondary--lighten: #AEAEAE;
$color__white: #FFFFFF;
$color__green: #84C131;
$color__blue: #31B0DD;
$color__red: #D03B5B;
$bg__primary: #FAFAFA;
$bg__secondary: #F1F1F1;
$border__color: #E1E1E1;
$font-size__primary: 0.8em;
$button__primary: #137CAD;